<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Cattle Managmeent System">
    <meta name="author" content="Yamil Font - Software Developer">
    <title>@ViewData["Title"] · Cattle Management System · Yamil Font</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link href="https://cdn.datatables.net/v/bs5/dt-2.3.5/datatables.min.css" rel="stylesheet" integrity="sha384-49/RW1o98YG2C2zlWgS77FLSrXw99u/R5gTv26HOR4VWXy7jVEt8iS/cfDn6UtHE" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="~/lib/parsley/css/parsley.css" />
    <link rel="stylesheet" href="~/lib/toastr/css/toastr.min.css" />
    <link rel="stylesheet" href="~/CattleystWebPortal.styles.css" asp-append-version="true" />
    <link rel="apple-touch-icon" sizes="180x180" href="~/assets/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/assets/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/assets/images/favicon-16x16.png">
    <link rel="manifest" href="~/assets/images/site.webmanifest">
</head>
<body>
    @await Html.PartialAsync("~/Views/Shared/_Header.cshtml")

    <div class="container-fluid">
        <div class="row">
            @await Html.PartialAsync("~/Views/Shared/_Sidebar.cshtml")
            
            <main role="main" class="col-md-9 ms-sm-auto col-lg-10 px-md-4 my-3">
                @RenderBody()
            </main>
        
        </div>
    </div>

    @await Html.PartialAsync("~/Views/Shared/_Footer.cshtml")    

    <div class="modal fade" id="modal-md" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div id="modal-md-content" class="modal-content">
            </div>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.datatables.net/v/bs5/dt-2.3.5/datatables.min.js" integrity="sha384-0y3De3Rxhdkd4JPUzXfzK6J+7DyDlhLosIUV2OnIgn3Lh1i86pheXHOYUHK85Vwz" crossorigin="anonymous"></script>
    <script src="~/lib/parsley/js/parsley.min.js"></script>
    <script src="~/lib/toastr/js/toastr.min.js"></script>
    <script src="~/lib/moment/js/moment.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
