@model CattleystWebPortal.ViewModels.Cattles.CattleIndexViewModel

<h1 class="visually-hidden">Cattle</h1>

<div class="row">
    <div class="col-12">
        <div class="mb-3">
            <label for="ddl-locations">Location</label>
            <div>
                @Html.DropDownListFor(x => x.LocationId, Model.LocationListItems, "All", new { @id = "ddl-locations", @class = "form-select"})
            </div>
        </div>
    </div>
</div>
<div class="mb-3">
    <button id="btn-cattle-add" type="button" class="btn btn-primary">
        <i class="fa fa-cow" aria-hidden="true"></i>
        Add Cattle
    </button>
</div>
<div class="mb-3">
    <table id="tbl-results" class="table table-sm table-bordered w-100"></table>
</div>

@section Scripts {
    <script>
        'use strict';
        const $ddlLocations = $('#ddl-locations');
        const $tbl = $('#tbl-results');
        const $btnCattleAdd = $('#btn-cattle-add');
        const tables = [];
        const routePrefix = `/Cattle`;
        const routes = {
            cattleListTableJson: `${routePrefix}/CattleListTableJson`,
            cattleModal: `${routePrefix}/Modal`
        }

        const cattle = {
            getCattleListRoute: () => {
                let route = routes.cattleListTableJson;
                if ($ddlLocations.val() === '') {
                    return route;
                }

                return `${route}?locationIds=${$ddlLocations.val()}`;
            },
            loadTable: () => {
                if (!tables['cattle']) {
                    tables['cattle'] = $tbl
                        .DataTable({
                            ajax: {
                                url: cattle.getCattleListRoute()
                            },
                            columns: @Html.Raw(Model.ColDefs_CattleTableViewModel),
                            columnDefs: [
                                {
                                    targets: [0, 1, 2],
                                    render: function(data, type, row, meta) {
                                        if (type === 'display') {
                                            return data;
                                        }
                                        return data;
                                    }
                                },
                                {
                                    targets: [3, 4], // dob, saved date
                                    render: function (data, type, row, meta) {
                                        if (type === 'display') {
                                            return new moment(data).local().format('MM/DD/YYYY');
                                        }
                                        return data;
                                    }
                                }
                            ]
                        });
                } else {
                    tables['cattle'].ajax.url(cattle.getCattleListRoute()).load();
                }
            }
        }

        $ddlLocations
            .on('change', function() {
                cattle.loadTable();
            });

        $btnCattleAdd
            .on('click', function() {
                app.eles.modals.modalMd.modal('show');
                app.loadSpinnerAjax(app.eles.modals.modalMdContent, routes.cattleModal);
            });

        cattle.loadTable();
    </script>
}