@model CattleystWebPortal.ViewModels.Locations.LocationIndexViewModel
<h1>Locations</h1>
<div class="d-flex justify-content-end">
    <button id="btn-add-location" type="button" class="btn btn-primary btn-sm">
        <i class="fa fa-plus" aria-hidden="true"></i>
        Add Location
    </button>
</div>
<div>
    <table id="tbl-locations" class="table table-sm table-striped table-bordered w-100"></table>
</div>


<div class="modal fade" id="modal-md" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div id="modal-md-content" class="modal-content">            
        </div>
    </div>
</div>

@section Scripts {
    <script>
        'use strict';
        const $btnAddLocation = $("#btn-add-location");
        const $tbl = $('#tbl-locations');
        const $modalMd = $('#modal-md');
        const $modalMdContent = $("#modal-md-content");
        const tables = [];

        const routePrefix = `/Location`;

        const routes = {
            locationList: `${routePrefix}/LocationListTableJson`,
            locationModal: `${routePrefix}/Modal`,
        }

        const locations = {
            loadTable: () => {
                if (!tables['locations']) {
                    tables['locations'] = $tbl
                        .on('click', 'button.btn-location-edit', function() {
                            const $btn = $(this);
                            const locationId = $btn.data('locationid');
                            $modalMd.modal('show');
                            app.loadSpinnerAjax($modalMdContent, routes.locationModal, { locationId });
                        })
                        .DataTable({
                            ajax: {
                                url: routes.locationList
                            },
                            columns: @Html.Raw(Model.ColDefs_Locations),
                            columnDefs: [
                                {
                                    targets: [0],
                                    render: function(data, type, row, meta) {
                                        if (type === 'display') {
                                            return `
                                                <button type='button' class='btn btn-primary btn-sm btn-location-edit' data-locationid='${data}'>
                                                    ${data}
                                                </button>
                                            `;
                                        }
                                        return data;
                                    }
                                },
                                {
                                    targets: [1],
                                    render: function(data, type, row, meta) {
                                        if (type === 'display') {
                                            return data;
                                        }
                                        return data;
                                    }
                                }
                            ]
                        });
                } else {
                    tables['locations'].ajax.reload();
                }
            }
        }

        $btnAddLocation
            .on('click', function() {
                $modalMd.modal('show');
                app.loadSpinnerAjax($modalMdContent, routes.locationModal, { locationid: null});
            });

        locations.loadTable();
    </script>
}